/* Sidebar */
.sidebar button {
	box-sizing: border-box;

	position: absolute;
	width: 209px;
	height: 73px;
	left: 0px;

	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 10px;
	cursor: pointer;
}

.sidebar button:hover {
	background: rgb(151, 98, 164);
	border-color: rgb(109, 14, 109);
	color: #FFFFFF;
	padding-right: 25px;
}

.sidebar button::after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 25%;
	right: -10px;
	transition: 0.15s;
	font-size: 24px;
  	transform: scale(1.5);
}
  
.sidebar button:hover::after {
	opacity: 1;
	right: 15px;
}

.sidebar button:active {
	background: rgb(109, 14, 109);
	font-weight: bold;
}

/* fortuneInputBox */
.fortuneInputBox {
	display: none;
	position: absolute;
	width: 209px;
	height: 73px;
	left: 500px;
	top: 511px;

	background: #FFFFFF;
}

.fortuneInputBox input {
	width: 300px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
}
