.sidebar button {
	box-sizing: border-box;

	position: absolute;
	width: 209px;
	height: 73px;
	left: 0px;

	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 10px;
}

.fortuneInputBox {
	display: none;
	position: absolute;
	width: 209px;
	height: 73px;
	left: 500px;
	top: 511px;

	background: #FFFFFF;
}

.fortuneInputBox input {
	width: 300px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
}