name: GitHub Pages for JSDocs

on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./assets/scripts
          output_dir: ./out
          config_file: conf.json
          front_page: README.md

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./out
          branch: gh-pages-docs
